@import '../../../variables.scss';
.list {
	display: flex;
	gap: 5.2083333333vw;
	&__block {
		display: flex;
		flex-direction: column;
		gap: 0.6770833333vw;
	}
	&__imgs {
		display: flex;
		flex-direction: column;
		gap: 1.3541666667vw;
	}
}

.title {
	font-size: 0.7291666667vw;
	font-weight: 700;
	line-height: 1.0416666667vw;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 0.2083333333vw;
	margin-bottom: 0.3645833333vw;
	border-bottom: 0.0520833333vw solid #f5f5f5;
}

.block {
	width: 2.7083333333vw;
	height: 2.0833333333vw;
	background-color: #f2f3f5;
	border-radius: 0.3645833333vw;
}

.item {
	width: 16.3020833333vw;
}

.ul {
	list-style-type: none;
}

.text {
	font-size: 0.7291666667vw;
	font-weight: 400;
	line-height: 1.5625vw;
}

.img {
	width: 6.25vw;
	height: 6.25vw;
	background-color: #f2f3f5;
	border-radius: 0.5208333333vw;
}
