.help {
	display: flex;
	flex-direction: column;
	&_mobile {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.help {
		display: none;
		&_mobile {
			display: flex;
			flex-direction: column;
		}
	}
}
